[Desktop Entry]
Version=1.0
Name=Download Youtube Musics
Exec=sh -c "echo -x --default-search=ytsearch | /etc/qubes-rpc/qubes.YoutubeDl"
Terminal=false
Type=Application
Categories=Network;Audio;Music;
X-Desktop-File-Install-Version=0.23