[Desktop Entry]
Version=1.0
Name=Download Youtube Songs
Exec=qubes-youtube-dl -x --default-search=ytsearch
Terminal=false
Type=Application
Categories=Utility;Audio
X-Desktop-File-Install-Version=0.23